
.singleEventPic {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 2px #00839444;
}

.singleEventCont {
    border: 1px solid rgba(199, 195, 195, 0.438);
    padding: 40px;
    border-radius: 5px;
}

.singleEvent {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nextEventNav {
    text-decoration: none;
}

.noEventInfoCont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#discoverButton {
    padding: 15px;
    font-size: 20px;
    width: 200px;
    border-radius: 8px;
    border-color: #008294;
    font-weight: 600;
    background-color: white;
    color: #008294;
    transition: background-color, color;
    box-shadow: 0px 0px 2px 1px rgba(128, 128, 128, 0.527);
}

#discoverButton:hover {
    cursor: pointer;
    color: white;
    background-color: #008294;
}

.singleEventPhotoCont {
    width:25%;
}

.singleNoEventCont {
    border: 1px solid rgba(199, 195, 195, 0.438);
    padding: 40px;
    border-radius: 5px;
    margin-left: 193px;
    margin-right: 220px;
    box-shadow: 0px 0px 2px 1px rgba(128, 128, 128, 0.219);
}

.noEventInfoCont {
    margin-left: 20px;
    margin-right: 20px;
}

.notAttending {
    font-weight: 400;
}

.singleEventInfoCont {
    padding-left: 10px;
}

#sEventName {
    font-size: 20px;
    font-weight: 700;
    color: #008294;
}

#sEventDate {
    font-variant: small-caps;
    font-size: 18px;
    font-weight: 600;
    color: #0083946b;
}

#sEventDescription {
    color:#008294;
}

#sEventLocation {
    color:#008294;
}
