.groupCont {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
}

.groupDetails {
    border: 1px solid rgba(128, 128, 128, 0.178);
    border-radius: 5px;
    margin: 7px;
    padding: 10px;
    text-decoration: none;
    color: #008394c9;
    width: 20%;

}

.groupsTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.userEventsButton {
    margin-left: 35px;
}

.noGroupCont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noGroupInfo {
    border: 1px solid rgba(128, 128, 128, 0.274);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    border-radius: 5px;
    padding: 30px;
    align-items: center;
    box-shadow: 0px 0px 3px 2px rgba(128, 128, 128, 0.151);
}

.groupsButton {
    padding: 15px;
    font-size: 20px;
    width: 200px;
    border-radius: 8px;
    border-color: #008294;
    font-weight: 600;
    background-color: white;
    color: #008294;
    transition: background-color, color;
    box-shadow: 0px 0px 2px 1px rgba(128, 128, 128, 0.527);
}

.groupsButton:hover {
    cursor: pointer;
    color: white;
    background-color: #008294;
}
